---
---

@import "{{ site.theme }}";
@import url("https://use.typekit.net/gsp5xxl.css");

$primary-color: #38939B;
$white: #ffffff;
$body-font: open-sans, Helvetica, Arial, sans-serif;
$body-font-size: 12px;
$body-font-color: #000;

$heading-font: open-sans, Helvetica, Arial, sans-serif;
$heading-font-color: $primary-color;

.inner {
  max-width: 1024px;
}

#header_wrap {
  background: $white;
  
  .inner {
      padding: 20px 10px 10px 10px;
  }
}

#forkme_banner {
  display: none;
}

#project_title, #project_tagline {
  text-shadow: none;
}

h1, h2, h3, h4, h5{
  color: $primary-color !important;
  font-family: $heading-font;
  font-weight: 400;
  font-style: normal;
}

p img {
  width: 100%;
  height: auto;
  display: block;
  max-width: none;
}

.page-header {
  background: linear-gradient(0.25turn, #88BEC3, #60A9AF, #38939B, #2D767C, #22585D)
}